.button {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    width: 45rem;
    animation: growIn .2s cubic-bezier(0.42, 0, 0.56, 1.15) 0s 1 normal forwards;
    background: green;
    border-color: green;
}

@keyframes growIn {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}

